{:deps {town.lilac/eql {:local/root "."}}
 :tasks {:requires ([clojure.string :as string])
         gen-script (let [prelude (slurp "prelude")
                          eql (slurp "src/town/lilac/eql.clj")]
                      (spit "eql" (string/join "\n" [prelude eql])))}}
